# Subscriber Cancellations Data Pipeline

For this project, you’ll build a data engineering pipeline to regularly transform a messy database into a clean source of truth for an analytics team

## Set Up

Download the starter kit and set up your working directory to explore the data! When you’re ready, connect to the starter database by loading `dev/cademycode.db` in a Jupyter notebook.

**********
+ Download the starter kit
+ Unzip the starter kit
+ You should get a folder containing a folder `/dev`
+ Create a Jupyter notebook in the `/dev` folder for your initial exploration
+ Use the sqlite3 Python package or SQLAlchemy to establish a database connection
+ Use the database `/cademycode.db` for your development

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect

# Establish the database connection
engine = create_engine('sqlite:///cademycode.db')

# Create an inspector to retrieve table names
inspector = inspect(engine)
tables = inspector.get_table_names()
print("Tables in the database:", tables)

# # Read data from each table and display it
# for table in tables:
#     query = f'SELECT * FROM {table}'
#     df = pd.read_sql_query(query, con=engine)
#     print(f"Data from {table} table:")
#     print(df.head())  # Display the first 5 rows of each table

# Read data from each table and display it -> Updated 
dataframes = {}
for table in tables:
    query = f'SELECT * FROM {table}'
    df = pd.read_sql_query(query, con=engine)
    dataframes[table] = df
    print(f"Datos de la tabla {table}:")
    print(df.head())  # Display the first 5 rows of each table

Tables in the database: ['cademycode_courses', 'cademycode_student_jobs', 'cademycode_students']
Datos de la tabla cademycode_courses:
   career_path_id      career_path_name  hours_to_complete
0               1        data scientist                 20
1               2         data engineer                 20
2               3          data analyst                 12
3               4  software engineering                 25
4               5      backend engineer                 18
Datos de la tabla cademycode_student_jobs:
   job_id        job_category  avg_salary
0       1           analytics       86000
1       2            engineer      101000
2       3  software developer      110000
3       4            creative       66000
4       5  financial services      135000
Datos de la tabla cademycode_students:
   uuid             name         dob sex  \
0     1  Annabelle Avery  1943-07-03   F
1     2      Micah Rubio  1991-02-07   M
2     3       Hosea Dale  1989-12-07   M
3     4     Mariann Kirk  1988-07-31   F
4     5  Lucio Alexander  1963-08-31   M

                                        contact_info job_id num_course_taken  \
0  {"mailing_address": "303 N Timber Key, Irondal...    7.0              6.0
1  {"mailing_address": "767 Crescent Fair, Shoals...    7.0              5.0
2  {"mailing_address": "P.O. Box 41269, St. Bonav...    7.0              8.0
3  {"mailing_address": "517 SE Wintergreen Isle, ...    6.0              7.0
4  {"mailing_address": "18 Cinder Cliff, Doyles b...    7.0             14.0

  current_career_path_id time_spent_hrs
0                    1.0           4.99
1                    8.0            4.4
2                    8.0           6.74
3                    9.0          12.31
4                    3.0           5.64

## Inspect and Clean the data

Import the tables in cademycode.db as dataframes. Inspect the tables for missing or invalid data and perform any data cleaning operations you think are necessary.

************
Here are some tips to get started (but remember, there are many different routes to take):

+ Use a `SELECT` query on `sqlite_master` to determine the names of the tables
+ Use `pandas.read_sql_query` to read each table in as a DataFrame
+ Get familiar with the data by using the `.head()` function to explore the first handful of rows in the database.
+ Look for null values or invalide datatypes by using
+ `.info()` to display a summary table of each column
+ `.describe()` to calculate summary statistics for all numerical columns
+ `.value_counts()` to display each column’s distinct values.
+  Check out our data wrangling and tidying refresher

In [2]:
# Use a SELECT query on sqlite_master to determine the names of the tables
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, con=engine)
table_names = tables['name'].tolist()
print("Tables in the database:", table_names)

Tables in the database: ['cademycode_courses', 'cademycode_student_jobs', 'cademycode_students']

In [3]:
# Read data from each table and display it
dataframes = {}
for table in table_names:
    df = pd.read_sql_query(f'SELECT * FROM {table}', con=engine)
    dataframes[table] = df
    print(f"\nData from {table} table:")
    print(df.head())  # Display the first 5 rows of each table

Data from cademycode_courses table:
   career_path_id      career_path_name  hours_to_complete
0               1        data scientist                 20
1               2         data engineer                 20
2               3          data analyst                 12
3               4  software engineering                 25
4               5      backend engineer                 18

Data from cademycode_student_jobs table:
   job_id        job_category  avg_salary
0       1           analytics       86000
1       2            engineer      101000
2       3  software developer      110000
3       4            creative       66000
4       5  financial services      135000

Data from cademycode_students table:
   uuid             name         dob sex  \
0     1  Annabelle Avery  1943-07-03   F
1     2      Micah Rubio  1991-02-07   M
2     3       Hosea Dale  1989-12-07   M
3     4     Mariann Kirk  1988-07-31   F
4     5  Lucio Alexander  1963-08-31   M

                                        contact_info job_id num_course_taken  \
0  {"mailing_address": "303 N Timber Key, Irondal...    7.0              6.0
1  {"mailing_address": "767 Crescent Fair, Shoals...    7.0              5.0
2  {"mailing_address": "P.O. Box 41269, St. Bonav...    7.0              8.0
3  {"mailing_address": "517 SE Wintergreen Isle, ...    6.0              7.0
4  {"mailing_address": "18 Cinder Cliff, Doyles b...    7.0             14.0

  current_career_path_id time_spent_hrs
0                    1.0           4.99
1                    8.0            4.4
2                    8.0           6.74
3                    9.0          12.31
4                    3.0           5.64

In [ ]:
# Inspect and clean the data
for table, df in dataframes.items():
    print(f"\nInspecting {table} table:")
    print(df.info())  # Display summary of each column
    print(df.describe())  # Calculate summary statistics for numerical columns
    for column in df.columns:
        print(f"\nValue counts for {column} column:")
        print(df[column].value_counts())  # Display distinct values of each column

    # Check for missing values
    missing_values = df.isnull().sum()
    print(f"\nMissing values in {table} table:")
    print(missing_values)

    # Perform data cleaning operations if necessary
    # Example: Fill missing values with appropriate values or drop rows/columns with missing values
    df_cleaned = df.fillna(method='ffill').fillna(method='bfill')  # Forward fill then backward fill as an example
    dataframes[table] = df_cleaned

    print(f"\nCleaned data from {table} table:")
    print(df_cleaned.head())  # Display the first 5 rows of cleaned data

Inspecting cademycode_courses table:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   career_path_id     10 non-null     int64
 1   career_path_name   10 non-null     object
 2   hours_to_complete  10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes
None
       career_path_id  hours_to_complete
count        10.00000          10.000000
mean          5.50000          21.900000
std           3.02765           6.707376
min           1.00000          12.000000
25%           3.25000          18.500000
50%           5.50000          20.000000
75%           7.75000          26.500000
max          10.00000          35.000000

Value counts for career_path_id column:
career_path_id
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
Name: count, dtype: int64

Value counts for career_path_name column:
career_path_name
data scientist               1
data engineer                1
data analyst                 1
software engineering         1
backend engineer             1
frontend engineer            1
iOS developer                1
android developer            1
machine learning engineer    1
ux/ui designer               1
Name: count, dtype: int64

Value counts for hours_to_complete column:
hours_to_complete
20    3
27    2
12    1
25    1
18    1
35    1
15    1
Name: count, dtype: int64

Missing values in cademycode_courses table:
career_path_id       0
career_path_name     0
hours_to_complete    0
dtype: int64

Cleaned data from cademycode_courses table:
   career_path_id      career_path_name  hours_to_complete
0               1        data scientist                 20
1               2         data engineer                 20
2               3          data analyst                 12
3               4  software engineering                 25
4               5      backend engineer                 18

Inspecting cademycode_student_jobs table:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_id        13 non-null     int64
 1   job_category  13 non-null     object
 2   avg_salary    13 non-null     int64
dtypes: int64(2), object(1)
memory usage: 440.0+ bytes
None
          job_id     avg_salary
count  13.000000      13.000000
mean    4.384615   89230.769231
std     2.662657   34727.879881
min     0.000000   10000.000000
25%     3.000000   66000.000000
50%     4.000000   86000.000000
75%     6.000000  110000.000000
max     9.000000  135000.000000

Value counts for job_id column:
job_id
3    2
4    2
5    2
1    1
2    1
6    1
7    1
8    1
9    1
0    1
Name: count, dtype: int64

Value counts for job_category column:
job_category
software developer    2
creative              2
financial services    2
analytics             1
engineer              1
education             1
HR                    1
student               1
healthcare            1
other                 1
Name: count, dtype: int64

Value counts for avg_salary column:
avg_salary
110000    2
66000     2
135000    2
80000     2
86000     1
101000    1
61000     1
10000     1
120000    1
Name: count, dtype: int64

Missing values in cademycode_student_jobs table:
job_id          0
job_category    0
avg_salary      0
dtype: int64

Cleaned data from cademycode_student_jobs table:
   job_id        job_category  avg_salary
0       1           analytics       86000
1       2            engineer      101000
2       3  software developer      110000
3       4            creative       66000
4       5  financial services      135000

Inspecting cademycode_students table:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uuid                    5000 non-null   int64
 1   name                    5000 non-null   object
 2   dob                     5000 non-null   object
 3   sex                     5000 non-null   object
 4   contact_info            5000 non-null   object
 5   job_id                  5000 non-null   object
 6   num_course_taken        5000 non-null   object
 7   current_career_path_id  5000 non-null   object
 8   time_spent_hrs          5000 non-null   object
dtypes: int64(1), object(8)
memory usage: 351.7+ KB
None
              uuid
count  5000.000000
mean   2500.500000
std    1443.520003
min       1.000000
25%    1250.750000
50%    2500.500000
75%    3750.250000
max    5000.000000

Value counts for uuid column:
uuid
1       1
3331    1
3338    1
3337    1
3336    1
       ..
1667    1
1666    1
1665    1
1664    1
5000    1
Name: count, Length: 5000, dtype: int64

Value counts for name column:
name
Melvin Felt              2
Robbie Davies            2
Annabelle Avery          1
Kelley Munnickhuijsen    1
Rachel de Kruijff        1
                        ..
Cleopatra Singleton      1
Linwood Patrick          1
Marcia Beeldhouwer       1
Arnoldo Rodgers          1
Elton Otway              1
Name: count, Length: 4998, dtype: int64

Value counts for dob column:
dob
1993-08-03    4
1955-05-27    4
1953-12-05    3
1995-06-13    3
1956-05-22    3
             ..
1960-09-21    1
1992-05-08    1
1979-03-22    1
1966-12-30    1
1994-12-23    1
Name: count, Length: 4492, dtype: int64

Value counts for sex column:
sex
M    1995
F    1990
N    1015
Name: count, dtype: int64

Value counts for contact_info column:
contact_info
{"mailing_address": "303 N Timber Key, Irondale, Wisconsin, 84736", "email": "annabelle_avery9376@woohoo.com"}      1
{"mailing_address": "768 Silent Skyway, Impact, Idaho, 90270", "email": "orval_devos4502@coldmail.com"}             1
{"mailing_address": "409 SW First Pike, Leary, North Carolina, 43428", "email": "rachel886@woohoo.com"}             1
{"mailing_address": "554 Broad Rose, Flagler Beach, Florida, 65799", "email": "allan8306@inlook.com"}               1
{"mailing_address": "872 Wagon Land, Guthrie Center, Colorado, 86498", "email": "isidro3025@woohoo.com"}            1
                                                                                                                   ..
{"mailing_address": "470 Essex Curve, Copan, Mississippi, 86309", "email": "cleopatra_singleton7791@inlook.com"}    1
{"mailing_address": "162 Iron Chase, Campbell Station, Oklahoma, 78795", "email": "patrick6416@inlook.com"}         1
{"mailing_address": "889 Mountain Alley, Quioque, Florida, 22930", "email": "marcia9217@coldmail.com"}              1
{"mailing_address": "P.O. Box 69948, Hastings borough, Iowa, 13359", "email": "rodgers8447@hmail.com"}              1
{"mailing_address": "406 Zephyr Port, Oskaloosa, Alabama, 74534", "email": "elton_otway5644@inlook.com"}            1
Name: count, Length: 5000, dtype: int64

Value counts for job_id column:
job_id
2.0    706
1.0    693
7.0    681
3.0    675
4.0    672
5.0    662
6.0    658
8.0    253
Name: count, dtype: int64

Value counts for num_course_taken column:
num_course_taken
5.0     354
12.0    347
2.0     330
10.0    323
15.0    323
0.0     318
7.0     316
13.0    316
8.0     310
11.0    303
4.0     299
6.0     296
3.0     296
14.0    292
1.0     291
9.0     286
Name: count, dtype: int64

Value counts for current_career_path_id column:
current_career_path_id
5.0     525
3.0     513
10.0    509
7.0     505
6.0     504
1.0     501
2.0     498
9.0     485
4.0     483
8.0     477
Name: count, dtype: int64

Value counts for time_spent_hrs column:
time_spent_hrs
17.47    9
4.71     9
2.91     8
5.93     8
13.19    8
        ..
27.68    1
17.8     1
12.41    1
21.77    1
23.54    1
Name: count, Length: 2192, dtype: int64

Missing values in cademycode_students table:
uuid                      0
name                      0
dob                       0
sex                       0
contact_info              0
job_id                    0
num_course_taken          0
current_career_path_id    0
time_spent_hrs            0
dtype: int64

Cleaned data from cademycode_students table:
   uuid             name         dob sex  \
0     1  Annabelle Avery  1943-07-03   F
1     2      Micah Rubio  1991-02-07   M
2     3       Hosea Dale  1989-12-07   M
3     4     Mariann Kirk  1988-07-31   F
4     5  Lucio Alexander  1963-08-31   M

                                        contact_info job_id num_course_taken  \
0  {"mailing_address": "303 N Timber Key, Irondal...    7.0              6.0
1  {"mailing_address": "767 Crescent Fair, Shoals...    7.0              5.0
2  {"mailing_address": "P.O. Box 41269, St. Bonav...    7.0              8.0
3  {"mailing_address": "517 SE Wintergreen Isle, ...    6.0              7.0
4  {"mailing_address": "18 Cinder Cliff, Doyles b...    7.0             14.0

  current_career_path_id time_spent_hrs
0                    1.0           4.99
1                    8.0            4.4
2                    8.0           6.74
3                    9.0          12.31
4                    3.0           5.64

C:\Users\gabri_7a484pu\AppData\Local\Temp\ipykernel_41260\3233913241.py:17: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_cleaned = df.fillna(method='ffill').fillna(method='bfill')  # Forward fill then backward fill as an example
C:\Users\gabri_7a484pu\AppData\Local\Temp\ipykernel_41260\3233913241.py:17: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_cleaned = df.fillna(method='ffill').fillna(method='bfill')  # Forward fill then backward fill as an example
C:\Users\gabri_7a484pu\AppData\Local\Temp\ipykernel_41260\3233913241.py:17: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_cleaned = df.fillna(method='ffill').fillna(method='bfill')  # Forward fill then backward fill as an example

In [5]:
# Save cleaned data back to the database or to new files if needed
for table, df_cleaned in dataframes.items():
    df_cleaned.to_sql(table, con=engine, if_exists='replace', index=False)

## Create the Output CSV
Use the cleaned tables to produce an analytics-ready SQLite database and flat CSV file. The final CSV should contain all the data the analysts might need in a single table.

************

+ Think about what fields you might want to have as an analyst – are there any you can create as part of this process?
+ It is easier to update a database than update a CSV file, so create a clean SQLite database first, and then generate the CSV from that database.
+ You might want to create the CSV by joining the original three tables into one. One way is to use the pandas `.merge()` function. Another would be to use SQL `join` within the SQLite database.
+ Make sure to validate the final table. Improper joins could result in losing rows due to unpaired keys or duplication. You can check for both by calculating the length of your dataframe before and after merges.

In [7]:
# Read cleaned data from the database
df_courses = pd.read_sql_query('SELECT * FROM cademycode_courses', con=engine)
df_jobs = pd.read_sql_query('SELECT * FROM cademycode_student_jobs', con=engine)
df_students = pd.read_sql_query('SELECT * FROM cademycode_students', con=engine)

In [8]:
# Convert job_id columns to integers, handling any non-integer values
df_students['job_id'] = pd.to_numeric(df_students['job_id'], errors='coerce').fillna(0).astype('int64')
df_jobs['job_id'] = pd.to_numeric(df_jobs['job_id'], errors='coerce').fillna(0).astype('int64')

In [9]:
# Merge the tables into a single DataFrame
# Merge students with jobs
df_merged = pd.merge(df_students, df_jobs, how='left', left_on='job_id', right_on='job_id')

In [10]:
# Ensure the current_career_path_id and career_path_id columns have the same data type
df_merged['current_career_path_id'] = pd.to_numeric(df_merged['current_career_path_id'], errors='coerce').fillna(0).astype('int64')
df_courses['career_path_id'] = pd.to_numeric(df_courses['career_path_id'], errors='coerce').fillna(0).astype('int64')

In [11]:
# Merge the result with courses
df_final = pd.merge(df_merged, df_courses, how='left', left_on='current_career_path_id', right_on='career_path_id')

In [12]:
# Validate the final table
print("Length of DataFrame before merge:", len(df_students))
print("Length of DataFrame after merge:", len(df_final))

Length of DataFrame before merge: 5000
Length of DataFrame after merge: 7009

In [13]:
# Check for any missing values after the merge
print("Missing values in the final DataFrame:")
print(df_final.isnull().sum())

Missing values in the final DataFrame:
uuid                      0
name                      0
dob                       0
sex                       0
contact_info              0
job_id                    0
num_course_taken          0
current_career_path_id    0
time_spent_hrs            0
job_category              0
avg_salary                0
career_path_id            0
career_path_name          0
hours_to_complete         0
dtype: int64

In [14]:
# Save the final DataFrame to a new SQLite database
engine_clean = create_engine('sqlite:///cademycode_clean.db')
df_final.to_sql('cademycode_final', con=engine_clean, if_exists='replace', index=False)

7009

In [15]:
# Save the final DataFrame to a CSV file
df_final.to_csv('cademycode_final.csv', index=False)
print("Final CSV and SQLite database created successfully.")

Final CSV and SQLite database created successfully.

## Develop Unit Tests and Logs
Turn the Jupyter Notebook into a Python script that can be run with minimal human intervention.

The script should:

+ check for updates to the database and
+ use unit tests to protect the update process.

Any updates made to the final database should be written to a changelog, and any errors from the unit tests should be written to an error log.

************

Some ideas for unit tests include:

+ checking that the updated database has the same schema as the original
+ checking if the tables will join properly
+ checking if there is any new data

Your changelog should include details like:

+ a version number
+ information about the update such as new row and missing data counts


Some helpful resources include

+ Logging in Python
+ Errors in Python

Para probar los scripts y asegurarte de que todo funcione correctamente, sigue estos pasos:

### 1. Configurar el Entorno

Asegúrate de tener un entorno de Python configurado con las bibliotecas necesarias instaladas. Puedes usar `pip` para instalar las dependencias:

```bash
pip install pandas sqlalchemy
```

### 2. Ejecutar el Script Principal

Ejecuta el script principal (`data_pipeline.py`) para procesar los datos y generar la base de datos y el archivo CSV:

```bash
python data_pipeline.py
```

### 3. Verificar los Resultados

Después de ejecutar el script principal, verifica que se hayan creado los siguientes archivos en el directorio `dev`:
- `cademycode_clean.db`: La base de datos SQLite limpia.
- `cademycode_final.csv`: El archivo CSV con los datos finales.

### 4. Ejecutar las Pruebas Unitarias

Ejecuta el archivo de pruebas (`test_data_pipeline.py`) para asegurarte de que las pruebas unitarias pasen correctamente:

```bash
python -m unittest test_data_pipeline.py
```

### 5. Revisar los Registros

Revisa el archivo de registro `data_pipeline.log` para ver los detalles de la ejecución del script, incluyendo cualquier error que haya ocurrido.

### Changelog

El changelog es un archivo de texto (`changelog.txt`) donde puedes registrar los detalles de cada actualización de la base de datos. Cada vez que ejecutes el script principal, puedes agregar una entrada al changelog con información como:

- **Número de versión**: Un número de versión para la actualización (por ejemplo, `1.0.0`).
- **Detalles de la actualización**: Información sobre la actualización, como el número de nuevas filas agregadas y la cantidad de datos faltantes.

Aquí tienes un ejemplo de cómo podrías actualizar el changelog:

```plaintext
Version 1.0.0
- New rows added: 100
- Missing data counts: 0
```

Puedes agregar esta entrada manualmente después de cada ejecución del script principal, o puedes modificar el script para que lo haga automáticamente.

### Resumen de los Pasos:

1. **Configurar el entorno**: Instalar las dependencias necesarias.
2. **Ejecutar el script principal**: Procesar los datos y generar la base de datos y el archivo CSV.
3. **Verificar los resultados**: Asegurarte de que los archivos se hayan creado correctamente.
4. **Ejecutar las pruebas unitarias**: Verificar que las pruebas pasen correctamente.
5. **Revisar los registros**: Verificar el archivo de registro para detalles de la ejecución.
6. **Actualizar el changelog**: Registrar los detalles de la actualización en el changelog.

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('cademycode.db')
cursor = conn.cursor()

# Check existing tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

# Close the connection
conn.close()

Tablas en la base de datos: [('cademycode_courses',), ('cademycode_student_jobs',), ('cademycode_students',)]

### DUMB DB
+ cademycode_dump.sql

In [ ]:
from sqlalchemy import create_engine

# Establish the connection to the PostgreSQL database
# engine = create_engine('postgresql://postgres:postgres@localhost/subscriber-pipeline')
engine = create_engine('sqlite:///cademycode.db')

In [30]:
df_courses = pd.read_sql_query('SELECT * FROM "cademycode_courses"', con=engine)
df_courses

   career_path_id           career_path_name  hours_to_complete
0               1             data scientist                 20
1               2              data engineer                 20
2               3               data analyst                 12
3               4       software engineering                 25
4               5           backend engineer                 18
5               6          frontend engineer                 20
6               7              iOS developer                 27
7               8          android developer                 27
8               9  machine learning engineer                 35
9              10             ux/ui designer                 15

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('cademycode_clean_local.db')
cursor = conn.cursor()

# Check existing tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

# Close the connection
conn.close()

Tables in the database: [('cademycode_final_local',)]

## Create a Bash Script
Create a bash script to handle running the Python script and moving updated files from your working directory in `/dev` to a production directory. Your bash script should use the logs from the last task to determine if an update occurred.

****

+ Here’s our bash scripting course, if you find yourself stuck!
+ You can execute python files within bash scripts by calling `python path/to/source/file.py`.
+ You can either chose to move the file over to the production folder using `mv /path/to/source /path/to/destination` or copy the files to the production folder by using `cp /path/to/source /path/to/destination`
+ Use version numbers in your changelog to check for updates

**Let's adjust the Bash script to create the `prod` directory if it doesn't exist and then move the generated files to that directory.**


### Adjusted Bash Script

`run_pipeline.sh`

```bash
#!/bin/bash

# Directories
DEV_DIR="./dev"
PROD_DIR="./prod"
LOG_FILE="$DEV_DIR/data_pipeline.log"
CHANGELOG_FILE="$DEV_DIR/changelog.txt"

# Activate the virtual environment
source "C:/Users/gabri_7a484pu/Escritorio/code/DataEngineer_Codecademy/.venv/Scripts/activate"

# Create the production directory if it doesn't exist
if [ ! -d "$PROD_DIR" ]; then
    mkdir "$PROD_DIR"
    echo "Production directory created: $PROD_DIR"
else
    echo "Production directory already exists: $PROD_DIR"
fi

# Run the main Python script
echo "Running the main Python script."
python ./data_pipeline.py

# Check that the files have been created
if [ -f "$DEV_DIR/cademycode_clean_local.db" ] && [ -f "$DEV_DIR/cademycode_final_local.csv" ]; then
    echo "Files generated successfully."

    # Run the unit tests
    echo "Running the unit tests."
    python -m unittest ./test_data_pipeline.py

    # Check the logs for errors
    echo "Checking the logs for errors."
    if grep -q "ERROR" "$LOG_FILE"; then
        echo "Errors found in the log. Check $LOG_FILE for more details."
    else
        echo "No errors found in the log."

        # Check if there was an update in the changelog
        echo "Checking if there was an update in the changelog."
        if grep -q "Version" "$CHANGELOG_FILE"; then
            echo "Update detected. Moving files to production..."

            # Check that the files exist before moving them
            if [ -f "$DEV_DIR/cademycode_clean_local.db" ]; then
                echo "Moving cademycode_clean_local.db to production."
                mv $DEV_DIR/cademycode_clean_local.db $PROD_DIR/
                echo "File cademycode_clean_local.db moved to production."
            else
                echo "File cademycode_clean_local.db not found."
            fi

            if [ -f "$DEV_DIR/cademycode_final_local.csv" ]; then
                echo "Moving cademycode_final_local.csv to production."
                mv $DEV_DIR/cademycode_final_local.csv $PROD_DIR/
                echo "File cademycode_final_local.csv moved to production."
            else
                echo "File cademycode_final_local.csv not found."
            fi

            echo "Files moved to production."
        else
            echo "No updates detected in the changelog."
        fi
    fi
else
    echo "Expected files not generated. Check the main script."
fi
```

### Script Explanation

1. **Directories**: Defines the paths for the development and production directories, as well as the log and changelog files.
2. **Create Production Directory**: Checks if the production directory exists and creates it if it doesn't.
3. **Run Main Script**: Uses `python` to run your main script (`data_pipeline.py`).
4. **Check Generated Files**: Verifies that the files `cademycode_clean_local.db` and `cademycode_final_local.csv` have been created in the development directory.
5. **Run Unit Tests**: Uses `python -m unittest` to run the unit tests (`test_data_pipeline.py`).
6. **Check Logs**: Uses `grep` to search for errors in the log file.
7. **Check for Updates**: Uses `grep` to search for the word "Version" in the changelog. If found, it assumes there was an update.
8. **Move Files**: If an update is detected, uses `mv` to move the files to the production directory.

### Make the Script Executable

Ensure your Bash script is executable. You can do this with the following command:

```bash
chmod +x /path/to/your_script.sh -> chmod +x run_pipeline.sh
```

### Run the Script

Finally, run your Bash script:

```bash
/path/to/your_script.sh -> ./run_pipeline.sh / bash run_pipeline.sh
```

### Summary

- **Create the Bash Script**: Define directories, run the Python script, check generated files, run unit tests, check logs, and verify the changelog.
- **Create Production Directory**: Create the production directory if it doesn't exist.
- **Move Files**: If an update is detected, move the files to the production directory.
- **Make the Script Executable**: Use `chmod +x` to make the script executable.
- **Run the Script**: Execute the Bash script to complete the process.

```bash
$ bash run_pipeline.sh
Directorio de producción ya existe: ./prod
Ejecutando el script principal de Python.
Length of DataFrame before merge: 6000
Length of DataFrame after merge: 8301
Missing values in the final DataFrame: uuid                        0
name                        0
dob                         0
sex                         0
contact_info                0
job_id                      0
num_course_taken          371
current_career_path_id      0
time_spent_hrs            676
job_category                0
avg_salary                  0
career_path_id            676
career_path_name          676
hours_to_complete         676
dtype: int64
Final CSV and SQLite database created successfully.
Archivos generados correctamente.
Ejecutando las pruebas unitarias.
...
----------------------------------------------------------------------
Ran 3 tests in 0.080s

OK
El n▒mero de filas se ha mantenido igual.
Revisando los registros para detectar errores.
No se encontraron errores en el log.
Verificando si hubo una actualización en el changelog.
Actualización detectada. Moviendo archivos a producción...
Moviendo cademycode_clean_local.db a producción.
Archivo cademycode_clean_local.db movido a producción.
Moviendo cademycode_final_local.csv a producción.
Archivo cademycode_final_local.csv movido a producción.
Archivos movidos a producción.
```

## Create a Readme
Create a readme.md file for your update process. This file should describe the folder structure of your final project and include instructions for how to run your Bash script to update the database.

****

Think about what information someone would need to know to run your update process:

+ what each file does, and where it lives
+ how to run the update process
+ how any changelogs or other version control systems you’ve created operate
+ where errors are logged

Here is the updated `README.md` file translated into English with additional details about the changelog, version control system, and error logs.

### README.md

```markdown
# Data Pipeline Update Process

This project contains a data pipeline that processes information from an SQLite database, generates a CSV file and a new SQLite database, and moves the generated files to a production directory. Below is a description of the project folder structure, instructions for running the Bash script to update the database, and how the changelogs and error logs work.

## Folder Structure

```
project-root/
│
├── dev/
│   ├── cademycode_clean_local.db
│   ├── cademycode_final_local.csv
│   ├── changelog.txt
│   ├── data_pipeline.log
│   └── previous_row_count.txt
│
├── prod/
│   ├── cademycode_clean_local.db
│   ├── cademycode_final_local.csv
│
├── data_pipeline.py
├── test_data_pipeline.py
└── run_pipeline.sh
```

- **dev/**: Development directory where temporary files and logs are generated and stored.
  - `cademycode_clean_local.db`: SQLite database generated after processing the data.
  - `cademycode_final_local.csv`: CSV file generated after processing the data.
  - `changelog.txt`: Changelog file that records the details of each update.
  - `data_pipeline.log`: Log file that records the details of the script execution.
  - `previous_row_count.txt`: File that stores the row count of the previous version of the table.

- **prod/**: Production directory where the generated files are moved after a successful update.
  - `cademycode_clean_local.db`: SQLite database generated after processing the data.
  - `cademycode_final_local.csv`: CSV file generated after processing the data.

- **data_pipeline.py**: Main Python script that processes the data and generates the files.
- **test_data_pipeline.py**: Unit test script to verify that the data pipeline works correctly.
- **run_pipeline.sh**: Bash script that runs the main Python script, verifies the generated files, runs the unit tests, checks the logs, and moves the files to production if an update is detected.

## Instructions for Running the Update Process

1. **Activate the Virtual Environment**: Make sure to activate your virtual environment before running the Bash script.

```bash
source "C:/Users/gabri_7a484pu/Escritorio/code/DataEngineer_Codecademy/.venv/Scripts/activate"
```

2. **Run the Bash Script**: Run the Bash script to process the data and move the generated files to production.

```bash
bash run_pipeline.sh
```

## Changelog and Version Control System

- **Changelog**: The `dev/changelog.txt` file records the details of each update, including the number of new rows added and the amount of missing data. The Bash script checks this file to detect updates and move the files to production if a new version is detected. Example changelog content:

```plaintext
## [2025-02-26 16:23:09]
### Added
- New rows added: 2006
- Missing data counts: 2981
### Fixed
- Fixed missing table errors for `cademycode_courses`
### Changed
- Combined tables into `cademycode_final_local`

Version 1.0.1
- New rows added: 100
- Missing data counts: 0

## [2025-02-26 16:25:51]
### Added
- New rows added: 2006
- Missing data counts: 2981
### Fixed
- Fixed missing table errors for `cademycode_courses`
### Changed
- Combined tables into `cademycode_final_local`

## [2025-02-26 16:28:16]
### Added
- New rows added: 2301
- Missing data counts: 3075
### Fixed
- Fixed missing table errors for `cademycode_courses`
### Changed
- Combined tables into `cademycode_final_local`

## [2025-02-26 16:28:50]
### Added
- New rows added: 2301
- Missing data counts: 3075
### Fixed
- Fixed missing table errors for `cademycode_courses`
### Changed
- Combined tables into `cademycode_final_local`

## [2025-02-26 16:31:47]
### Added
- New rows added: 2301
- Missing data counts: 3075
### Fixed
- Fixed missing table errors for `cademycode_courses`
### Changed
- Combined tables into `cademycode_final_local`
```

- **Error Logs**: The `dev/data_pipeline.log` file records the details of the script execution, including any errors that occur during the process. You can review this file for more information about any issues that arise. Example log content:

```plaintext
2025-02-26 16:23:09,279:INFO:Reading data from the database.
2025-02-26 16:23:09,281:INFO:Data from cademycode_courses read successfully.
2025-02-26 16:23:09,282:INFO:Data from cademycode_student_jobs read successfully.
2025-02-26 16:23:09,300:INFO:Data from cademycode_students read successfully.
2025-02-26 16:23:09,300:INFO:Converting job_id columns to integers.
2025-02-26 16:23:09,304:INFO:Merging tables.
2025-02-26 16:23:09,313:INFO:Length of DataFrame before merge: 5000
2025-02-26 16:23:09,314:INFO:Length of DataFrame after merge: 7006
2025-02-26 16:23:09,317:INFO:Missing values in the final DataFrame: uuid                        0
name                        0
dob                         0
sex                         0
contact_info                0
job_id                      0
num_course_taken          353
current_career_path_id      0
time_spent_hrs            657
job_category                0
avg_salary                  0
career_path_id            657
career_path_name          657
hours_to_complete         657
dtype: int64
2025-02-26 16:23:09,319:INFO:Saving the final DataFrame to a new SQLite database.
2025-02-26 16:23:09,416:INFO:Saving the final DataFrame to a CSV file.
2025-02-26 16:23:09,475:INFO:Final CSV and SQLite database created successfully.
```

- **Previous Row Count**: The `dev/previous_row_count.txt` file stores the row count of the previous version of the table for comparison with the current count. Example file content:

```plaintext
8301
```
```

## Create a Writeup
Write a high-level overview of the project to share in your portfolio. This is for your portfolio, so include your thought process in addition to the actual steps you took.

****

Here are some prompts to help you get started:

+ What data cleaning operations did you do, and why?
+ What kinds of unit tests did you use? Why did you pick those?
+ How did you structure the automation of the bash script?
+ What steps did you take to protect the final database from being incorrectly updated?

Remember, you are trying to demonstrate your skills in:

+ Data cleaning and wrangling
+ Unit tests and error logging
+ Bash scripting
+ SQLite databases

### Project Writeup: Data Pipeline Automation

#### High-Level Overview

In this project, I developed a data pipeline to process information from a SQLite database, generate a CSV file and a new SQLite database, and automate the movement of these files to a production directory. The project involved data cleaning, unit testing, error logging, bash scripting, and working with SQLite databases. Below, I detail the steps taken and the thought process behind each task.

----

#### Data Cleaning and Wrangling Operations

**What data cleaning and wrangling operations did you do, and why?**

To ensure the integrity and usability of the data, I performed several data cleaning and wrangling operations:

1. **Reading Data**: I read data from three tables (`cademycode_courses`, `cademycode_student_jobs`, and `cademycode_students`) from the SQLite database.
2. **Handling Non-Integer Values**: I converted the `job_id` columns in the `df_students` and `df_jobs` DataFrames to integers, handling any non-integer values by coercing them to `NaN` and then filling them with `0`. This ensured consistency in data types, which is crucial for accurate merging and analysis.
3. **Merging Tables**: I merged the `df_students` DataFrame with the `df_jobs` DataFrame on the `job_id` column, and then merged the result with the `df_courses` DataFrame on the `current_career_path_id` and `career_path_id` columns. This step combined all relevant information into a single DataFrame for easier analysis and reporting.
4. **Checking for Missing Values**: After merging, I checked for any missing values in the final DataFrame and logged the results. Identifying missing values helps in understanding data quality and planning further cleaning steps if necessary.

These operations were essential to ensure that the data was clean, consistent, and ready for analysis and reporting.

----

#### Unit Tests

**What kinds of unit tests did you use? Why did you pick those?**

I implemented the following unit tests to ensure the correctness and reliability of the data pipeline:

1. **Schema Test**: This test checks that the updated database contains the expected final table (`cademycode_final_local`). It ensures that the schema of the database is as expected after the data processing.
2. **New Data Test**: This test verifies that new data has been added to the final table by comparing the current row count with the previous row count. It ensures that the pipeline is correctly adding new data and not just overwriting existing data.
3. **Table Joins Test**: Although this test was initially included to check if tables join properly, it was later deemed unnecessary as the final database only contains the combined table. However, it highlights the importance of verifying data integrity during the merging process.

These tests were chosen to validate the critical aspects of the data pipeline, ensuring that the data processing steps produce the expected results and that new data is correctly integrated.

----

#### Bash Script Automation

**How did you structure the automation of the bash script?**

The bash script (`run_pipeline.sh`) was structured to automate the entire data pipeline process, including:

1. **Directory Setup**: The script checks if the production directory (`prod`) exists and creates it if it doesn't. This ensures that the environment is correctly set up before processing begins.
2. **Activating the Virtual Environment**: The script activates the Python virtual environment to ensure that all necessary dependencies are available.
3. **Executing the Python Script**: The script runs the main Python script (`data_pipeline.py`) to process the data and generate the output files.
4. **Running Unit Tests**: After generating the files, the script runs the unit tests (`test_data_pipeline.py`) to verify the correctness of the data processing.
5. **Checking Logs for Errors**: The script checks the log file (`data_pipeline.log`) for any errors that occurred during the execution of the Python script.
6. **Verifying Changelog Updates**: The script checks the changelog (`changelog.txt`) for updates. If an update is detected, it moves the generated files to the production directory.

This structure ensures that the entire process is automated, from data processing to verification and deployment, minimizing the risk of human error.

----

#### Protecting the Final Database

**What steps did you take to protect the final database from being incorrectly updated?**

To protect the final database from being incorrectly updated, I implemented the following steps:

1. **Unit Tests**: The unit tests ensure that the data processing steps produce the expected results and that new data is correctly integrated. This helps catch any issues before the final database is updated.
2. **Error Logging**: The script logs detailed information about each step of the process, including any errors that occur. This allows for quick identification and resolution of issues, preventing incorrect updates.
3. **Changelog Verification**: The script checks the changelog for updates before moving the generated files to the production directory. This ensures that only valid updates are deployed.
4. **Row Count Comparison**: The script compares the current row count with the previous row count to ensure that new data has been added. This prevents overwriting existing data without adding new information.

These steps help ensure the integrity and reliability of the final database, protecting it from incorrect updates.

----

#### Demonstrated Skills

Throughout this project, I demonstrated the following skills:

- **Data Cleaning and Wrangling**: I performed various data cleaning operations to ensure the integrity and usability of the data.
- **Unit Tests and Error Logging**: I implemented unit tests to validate the data processing steps and used error logging to track and resolve issues.
- **Bash Scripting**: I structured and automated the data pipeline process using a bash script, ensuring a seamless and error-free workflow.
- **SQLite Databases**: I worked extensively with SQLite databases, reading data, processing it, and generating new databases for reporting and analysis.

This project showcases my ability to design and implement a robust data pipeline, ensuring data quality, reliability, and automation.

---

## Save Your Project

If you’re taking the Data Engineering Career Path, you’ll use this project later on. Make sure to save your project somewhere you can find again! Double-check that your code is commented and your readme and writeup are thorough.